*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    background-color: #007e33;
    border-style: none;
    padding: 1%;
    text-align: left;
    border-radius: 8px 8px 8px 0px;
    color: white;
}
div{
    display: none;
}
div#topico{
    align-items: start;
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: #b1afaf;
    padding: 1%;
    border-style: none;
    border-radius: 0px 4px 8px 8px;
    margin: 30px;
    margin-left: 0; 
    margin-top: 0;
}
body{
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    padding: 20px;
    padding-left: 0px;
    margin: 5px;
    margin-right: 25%;
    margin-bottom: 0;
}
button{
    font-weight: 700;
    font-size: 150%;
    color: #00ff66;
    background-color: #b1afaf;
    border: none;
    text-decoration: none;
    transition: font-size 1.6s;
}
button:hover{
    cursor: pointer;
    font-size: 220%;

}
nav ul{
    list-style: none;
}
nav ul li a{
    font-weight: 600;
    font-size: 110%;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 1.25s;
}
nav ul li a:hover{
    font-size: 180%;
    font-weight: 700;
}